@import './base/reset';
@import './scss-utils/variables';
@import './scss-utils/utilities';
@import './base/typography';
@import './mixins/mixins';
@import './functions/functions';
@import './components/card';
@import './components/modal';
@import './layout/navigation';

body{
font-family: 'Lato' , sans-serif;
overflow-x: hidden;
min-height: 100vh;
}

img{
object-fit: cover;
max-width: 100%;
height: auto;
}

.container{
max-width: 75rem;
margin: 0 auto;
}

.btn{
cursor: pointer;
background-color: transparent;
border: none;
}

.show{
top:70px;
}

.hidden{
top: -50%;
}

.grid{
@include grid(4,flex-start,space-between);
}


.overlay{
height: 100%;
background-color: rgba(0, 0, 0, 0.1);
width: 100%;
z-index: 100;
top: 71px;
right: 0;
display: none;
position: fixed;
}


.modal_overlay{
height: 100%;
background-color: rgba(0, 0, 0, 0.1);
width: 100%;
z-index: 100;
top: 0px;
right: 0;
position: fixed;
}


@include responsive(lg){
    .grid{
    @include grid(3,flex-start,space-between)
    }
}

@include responsive(md){
    .overlay{
    display: block;
    }

    .grid{
    @include grid(2,flex-start,space-between)
    }
}

@include responsive(sm){
    .grid{
    grid-template-columns: 1fr;
    }
}
