.nav_header{
    padding: 1rem;
    background-color:#fff;
    border-bottom: 2px solid colors_handler(gray-400);
    .nav_wrapper{
        @include flex(space-between,center,row-reverse);
        .nav{
        @include flex(space-between,center,row);
            .nav_shopping_cart{
                cursor: pointer;
                position: relative;
                    .nav_items_quantity{
                    @include flex(center,center,row);
                    font-size: font_sizes_handler(sm);
                    position: absolute;
                    top: -6px;
                    right: -10px;
                    background-color: red;
                    font-weight: font_weights_handler(bold);
                    width: 80%;
                    height: 70%;
                    color: colors_handler(white-200);
                    border-radius: 50%;
                    }
            }
        }

        .nav_logo_container{
            .nav_logo{
                letter-spacing: 1px;
                font-size: font_sizes_handler(md-lg);
                font-weight: font_weights_handler(bold);
                    .nav_subLogo{
                        font-size: font_sizes_handler(lg);
                        color: colors_handler(blue-300);
                    }
            }
        }
    }   
}
