.filters{
    @include flex(flex-start,center,row);
        .filter{
            border-radius: 50px;
            margin:.3rem .5rem;
            border: 2px solid transparent;
            color: colors_handler(white-200);
            padding: .5rem 1.5rem;
            cursor: pointer;
            transition: all transitions_handler(transition-250) ease-in-out;
            font-weight:font_weights_handler(bold);
            font-size: font_sizes_handler(sm);
            background-color:colors_handler(black-800);
        
                &:hover{
                    color: colors_handler(black-800);
                    background-color: transparent;
                    border-color: colors_handler(black-800);
                }
        }
}